body {
    background: #0F4D8F;
  }
  
  .pugdino {
    position: absolute;
    bottom: 0;
    background-image: url(pug.gif);
    width: 100px;
    height: 100px;
  }
  
  .cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(cactus.png);
  }
  
  .game-over {
    text-align: center;
    color: #fff;
    margin: 200px 0;
    font-family: arial;   
  }
  
  .game-over {
      background-image: url(gameOver.gif);
      width: 100%;
      height: 100%;
  }
  
  @keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  .background {
    position: absolute;
    bottom: 0px;
    background-image: url('background.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
  }
  